.ladder-instructions p {
  font-size: 0.75rem;
  font-style: italic;
  font-weight: 200;
  margin-bottom: 0;
}

.form-select {
  background-color: #25CF5D;
  border-color: #25CF5D;
  color: #0d0d0d;
  font-size: 12px;
}

.form-select:focus {
  border-color: #25CF5D;
  box-shadow: -2px 1px 12px 1px rgba(13,13,13,0.75);
}

h3 {
  font-size: 26px;
  font-weight: 200;
}