.table {
  display: block;
  overflow: auto;
  table-layout: auto;
}

thead tr td {
  color: #666;
  font-size: 12px;
}

tbody tr {
  background-color: #fff;
  color: #4d4d4d;
}

tbody tr:hover {
  background-color: #e6e6e6;
}

tbody tr td {
  align-content: center;
  font-size: 12px;
  padding: 12px !important;
  vertical-align: middle;
}

tbody tr td img {
  height: auto;
  width: 50px;
}

.position-down {
  color: #d0011b;
  margin-right: 0.5rem;
}

.position-up {
  color: #009639;
  margin-right: 0.5rem;
}